@model Ares.Models.AuctionItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auction Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuctionEndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuctionEndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemState)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Offers" asp-action="ItemOffers" asp-route-id="@Model.ID">View Item Offers</a> |
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
